.triple-word {
	background-color: #fc3b0a;
}

.triple-word span:before {
	content: "3W";
}

.double-word {
	background-color: #f17e2a;
}

.double-word span:before {
	content: "2W";
}

.star {
	background-color: #fdcbd8;
	background-image: url("../img/star.png");
	background-size: 100% 100%;
}

.double-letter {
	background-color: #a2d8d5;
}

.double-letter span:before {
	content: "2L";
}

.triple-letter {
	background-color: #65cee5;
}

.triple-letter span:before {
	content: "3L";
}

.blank {
	background-color: #fdf591;
}

.occupied {
	background-color: #554f53;
	color: white;
}

.gameBoard
{
	width: 940px;
}

.gameBoard td {


	border: 2px solid black;
	height: 64px;
	width: 64px;
	text-align: center;
	vertical-align: bottom ;
	font-size: 40px;
	font-weight: bold;
	font-family: Comic Neue, Comic Sans, sans-serif;
	line-height: 40%;
	padding-bottom: 3px;
}
.gameBoard td input {
	font-size: 15px;
}

